body {
  font-family: "Abrade",Arial,sans-serif;
}

.clear {
  clear: both;
}

.container {
  width: 82%;
  margin: auto;
  padding-top: 2.5rem;
}

nav {
  position: relative;
  z-index: 1;
  padding: 0rem 8rem;
  box-shadow: 0px -4px 12px black;
}

.logo {
  float: left;
  width: 14rem;
  margin-left: -2.5rem;
}

.status_bar {
  float: right;
  text-align: right;
  padding-top: 1rem;
}

.status_bar h1 {
  display: inline-block;
  font-size: .9rem;
  font-weight: 300;
  margin-top: .5rem;
}

.status_bar h1 span {
  font-weight: 500;
}

.status_bar .connection_button {
  background-color: rgba(25, 32, 39, 0.1);
  opacity: 1;
  width: 30px;
  display: inline-block;
  margin-left: .5rem;
  padding: .25rem .5rem .55rem .5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transform: translateY(-0.2rem);
  transition: .3s all;
  cursor: pointer;
}

.status_bar .connection_button:hover {
  background-color: rgba(229, 33, 20, 0.2);
  opacity: .7;
}

.status_bar .connection_button:active {
  background-color: rgba(25, 32, 39, 0.1);
}

.status_bar .connection_button img {
  width: 100%;
  transform: translateY(4px);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  nav {
    padding: 0;
  }
  .logo {
    height: 3rem;
    float: none;
    margin: auto;
  }
  .status_bar {
    text-align: center;
    display: block;
    width: 100%;
    padding-bottom: 1rem;
  }
}

.schedule-tv {
  position: relative;
}

.schedule-tv .left {
  float: left;
  width: 50%;
}

.schedule-tv .left h1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: .4rem;
}

.schedule-tv .left h2 {
  font-weight: 300;
}

.schedule-tv .right {
  float: right;
  width: 50%;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  cursor: pointer;
  margin-top: 0.7rem;
}

.schedule-tv .right .picto {
  width: 1.5rem;
  display: inline-block;
  margin-right: .5rem;
  transform: translateY(0.1rem);
}

.schedule-tv .right .picto img {
  width: 100%;
}

.schedule-tv .right h3 {
  display: inline-block;
}

.day {
  background-color: #ededee;
  width: calc( 100%/7);
  display: inline-block;
  font-weight: 200;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 1.25rem;
}

.day span {
  font-weight: 600;
}

.day:hover {
  background-color: #f2a649;
  color: #fefefe;
  cursor: pointer;
}

.movie {
  position: relative;
  width: calc( 100%/6);
  display: inline-block;
}

.movie img {
  width: 100%;
}

.movie .movie_selection {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 7px solid #f2a649;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.movie .movie_selection .triangle {
  position: absolute;
  bottom: -30px;
  left: 5vw;
  border-width: 25px 25px 0 25px;
  border-style: solid;
  border-color: #f2a649 transparent transparent transparent;
}

.focus-movie {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 27rem;
  transform: translateY(-0.2rem);
}

.focus-movie .wrapper {
  padding: 5rem 8rem;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.focus-movie header {
  color: white;
  top: 15%;
}

.focus-movie header h3 {
  text-transform: uppercase;
  font-size: .8rem;
  padding-bottom: .3rem;
}

.focus-movie header h1 {
  font-weight: 500;
  font-size: 2rem;
}

.focus-movie header h4 {
  margin-top: .3rem;
  font-size: .8rem;
  opacity: .7;
}

.focus-movie .overlay {
  position: absolute;
  z-index: 1;
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0, transparent 100%);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0, transparent 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0, transparent 100%);
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
}

.focus-movie .background_movie {
  width: 100%;
  height: 100%;
  background: url("../img/1415826290-50-shades.jpg") scroll no-repeat center;
  background-size: 100%;
}

.focus-movie .background_movie img {
  width: 100%;
  transform: translateY(-3rem);
}

.synopsis {
  float: left;
  margin-top: 3rem;
  width: 70%;
}

.synopsis .poster {
  display: inline-block;
  width: 7rem;
}

.synopsis .poster img {
  width: 100%;
}

.synopsis p {
  padding-top: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 30rem;
  line-height: 1.4;
  font-weight: 400;
  font-size: .9rem;
  color: white;
  margin-left: 2rem;
}

.score_synopsis {
  float: right;
  text-align: left;
  width: 30%;
  margin-top: -5rem;
}

.score_synopsis .radial-score {
  font-weight: 700;
  transform: translateX(8vw);
  position: relative;
  width: 8rem;
  height: 8rem;
  color: white;
  font-size: 3.5rem;
  text-align: center;
  vertical-align: middle;
}

.sources_rating {
  width: 100%;
  display: inline-block;
  transform: translateY(2rem);
}

.source {
  width: 100%;
  margin-bottom: 1rem;
}

.source p {
  color: white;
  font-size: .9rem;
  padding-bottom: .3rem;
}

.source p span {
  font-size: 1.2rem;
}

.source .bar {
  width: 100%;
}

.source .bar .score_bar {
  width: 76%;
  border-bottom: 5px solid #f2a649;
}

.source .bar .total_bar {
  width: 100%;
  border-bottom: 2px solid white;
}

.source:nth-child(2) .score_bar {
  width: 71%;
}

.source:nth-child(3) .score_bar {
  width: 65%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .container {
    width: 100%;
  }
  .schedule-tv{
    padding-bottom: 2rem;
  }
  .schedule-tv .left {
    float: none;
    width: 100%;
    text-align: center;
  }
  .schedule-tv .right {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .schedule-tv .right .picto {
    margin: auto;
    display: block;
    padding-bottom: .5rem;
  }
  .day {
    padding: 1rem .8rem;
    text-align: center;
    font-size: .7rem;
  }
  .movie {
    width: calc( 100%/3);
  }
  .movie .movie_selection {
    border: 4px solid orange;
  }
  .movie .movie_selection .triangle {
    display: none;
  }
  .focus-movie .overlay {
    background-image: none;
    background-color: black;
    opacity: .5;
  }
  .focus-movie header {
    text-align: center;
    padding: 0rem 1rem;
  }
  .focus-movie .wrapper {
    width: 100%;
    padding: 5rem 0rem;
  }
  .focus-movie .background_movie {
    background: url("../img/1415826290-50-shades.jpg") scroll no-repeat top;
    background-size: 250%;
  }
  .synopsis {
    float: none;
    display: inline-block;
    width: 100vw;
    margin-top: 1rem;
  }
  .synopsis .poster {
    display: none;
  }
  .synopsis p {
    margin-left: 0;
    line-height: 1.2;
    width: 100vw;
    padding: 0rem 1rem;
    font-weight: 300;
    text-align: center;
  }
  .score_synopsis {
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
  }
  .score_synopsis .radial-score {
    transform: translateX(42vw);
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  .sources_rating {
    display: none;
  }
}

footer {
  position: relative;
  background-color: #f7f7f7;
  width: 100%;
  font-weight: 300;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.cineplex-credits {
  position: relative;
  text-align: center;
}

.cineplex-credits .logo {
  position: relative;
  width: 100%;
  display: block;
  margin: auto;
}

.cineplex-credits .cineplex-logo {
  width: 13rem;
  display: inline-block;
}

.cineplex-credits .legal_section {
  position: relative;
  width: 100%;
  display: block;
  font-size: .7rem;
  transform: translateY(-0.2rem);
}

.cineplex-credits .legal_section a {
  text-decoration: none;
}

.cineplex-credits .legal_section a:hover {
  color: #f2a649;
}

.sponsor {
  position: absolute;
  right: 8rem;
  top: 25%;
}

.sponsor .logo_tmdb {
  opacity: .2;
  width: 10rem;
  transition: .3s all;
}

.sponsor .logo_tmdb:hover {
  opacity: .6;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .sponsor {
    top: .1rem;
    opacity: .6;
    right: -1.5rem;
    transform: scale(0.55);
  }
}

.button_404{
  border: 2px solid #C32361;
  color: #EA4C89;
  text-transform: uppercase;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  width: 14rem;
  margin: auto;
  margin-top: 1.15rem;
  transition: .3s all;
  font-size: .8rem;
}
.button_404:hover{
  color: white;
  background-color: rgba(255, 75, 140, .5);
  border: 2px solid #EA4C89;
}
.indication{
  width: 100%;
  text-align: center;
  font-size: .8rem;
  font-style: italic;
  font-weight: 100;
  margin-top: .4rem;;
}
a{
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  footer{
    display: none;
  }
}
